MYSQL_ROOT_PASSWORD=SuaSenhaDoBanco
DATABASE=NomeDoSeuBanco
MYSQL_HOST_SPORT=PortaDeSuaEscolha ex: 3308
ADMIN_PASSWORD=SenhaParaAcessoAdministrativo
FLASK_SECRET_KEY=Use O Seguinte Comando No Terminal E Cole O Resultado Aqui:
(python -c "import secrets; print(secrets.token_hex(32))")
DB_HOST="mysql"
DB_USER="root"
DB_PASSWORD="${MYSQL_ROOT_PASSWORD}"
DB_NAME="${DATABASE}"
DB_PORT="3306"